%header.signup-header-new
  .signup-header-new__containar
    %h1.signup-header-new-panel
      .signup-header-new-icon
        = image_tag "/assets/SVG/fmarket_logo_red.svg", alt: "Mercari",class: "sign-up-new-img"

.container-login-signin
  .container-login-signin__main

    .signup-panel
      %p.signup-panel__title 新規会員登録

      .signup-panel__content
        .signup-panel__inherit
          %button#email
            = link_to "/users/signup_new",class:"signup-new__link"do
              = icon "far","envelope",class: "mail_icon"
              メールアドレスで登録する
            
          %button#facebook
            %i.fab.fa-facebook-square.facebook-icon
            Facebookで登録する
            
          %button#Google
            %i.fab.fa-google.google-icon
            Googleで登録する  

%footer.user-footer
  %nav
    %ul.user-footer-container
      %li.user-footer-menu
        .user-footer-menu__1 プライバシーポリシー 
      %li.user-footer-menu
        .user-footer-menu__1 Fmarket利用規約
      %li.user-footer-menu
        .user-footer-menu__1 特定商品に関する表記 
  .user-footer__link
    = link_to root_path do
      = image_tag "/assets/SVG/logo_gray.svg", alt: "Mercari", class:".user-footer-img", width: "80", height: "60"  
    %p.user-footer__end
      %small.user-footer__year ©︎2019 Fmarket
